---
import { getEntry, render } from 'astro:content'

import ImageGallery from '../components/organisms/ImageGallery.astro'
import Layout from '../layouts/Layout.astro'

const contentEntry = await getEntry('pages', 'photos')
if (!contentEntry) throw new Error('Photos page content not found')

const { Content } = await render(contentEntry)
---

<Layout title="Photos | Stephanie's Portfolio">
  <section class="section-wrapper">
    <h1 class="page-title">
      <span class="gradient-heading">{contentEntry.data.pageHeading}</span>
    </h1>

    <div class="mx-auto mb-8 max-w-[800px] text-center text-base leading-8">
      <p>
        <Content />
      </p>
    </div>

    <ImageGallery directory="ActionSportsPhotography" />
    <hr class="divider-line" />

    <ImageGallery directory="EventPhotography" />
    <hr class="divider-line" />

    <ImageGallery directory="Graphics" />
    <hr class="divider-line" />

    <ImageGallery directory="HeadshotPhotos" />
    <hr class="divider-line" />

    <ImageGallery directory="ProductPhotos" />
    <hr class="divider-line" />

    <ImageGallery directory="ScenicNaturePhotos" />
  </section>
</Layout>
