---
import { getEntry } from 'astro:content'
import { BrandLink } from '../atoms/BrandLink'
import { NavigationMenu } from '../molecules/NavigationMenu'
import { SocialLinks } from '../molecules/SocialLinks'

const mainEntry = await getEntry('main', 'main')
if (!mainEntry) throw new Error('Site content not found')
---

<header
  class="sticky top-0 z-100 bg-white/95 backdrop-blur-md hairline-bottom"
>
  <div class="mx-auto flex h-nav max-w-site items-center justify-between px-6">
    <BrandLink client:load name={mainEntry.data.name} />
    <NavigationMenu
      client:load
      nav={mainEntry.data.nav}
      social={mainEntry.data.social}
    />
    <SocialLinks client:load links={mainEntry.data.social} />
  </div>
</header>
