---
import type { YouTubeVideoPlaylist } from '../../types/video.types'
import VideoSectionHeader from '../molecules/VideoSectionHeader.astro'

interface Props {
  playlist: YouTubeVideoPlaylist
}

const { playlist } = Astro.props
---

<div class="mb-4">
  <VideoSectionHeader
    heading={playlist.heading}
    description={playlist.description}
    credits={playlist.credits}
  />

  <slot />

  <hr class="divider-line" />
</div>
