---
import type { YouTubeVideoSection } from '../../types/video.types'
import VideoSectionHeader from '../molecules/VideoSectionHeader.astro'

interface Props {
  section: YouTubeVideoSection
}

const { section } = Astro.props
---

<div class="mb-4">
  <VideoSectionHeader
    heading={section.heading}
    description={section.description}
    credits={section.credits}
  />

  <slot />

  <hr class="divider-line" />
</div>
